<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" android:installLocation="auto" android:sharedUserId="com.qidx" package="com.qidx.ui" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.qidx.ui.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.qidx.ui.permission.C2D_MESSAGE"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.type.pc" android:required="false"/>
    <supports-screens android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:fullBackupContent="@xml/aide_backup_rules" android:fullBackupOnly="true" android:icon="@drawable/ic_launcher" android:label="QiDX" android:largeHeap="true" android:name="com.qidx.ui.AIDEApplication" android:resizeableActivity="true" android:roundIcon="@drawable/ic_launcher_round">
        <activity android:banner="@drawable/banner" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:launchMode="singleTask" android:name="qidxisbestlol.a" android:screenOrientation="user" android:theme="@android:style/Theme.Material.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:banner="@drawable/banner" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:launchMode="singleTask" android:name="com.qidx.ui.MainActivity" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\\\.classpath"/>
                <data android:pathPattern=".*\\\\.java"/>
                <data android:pathPattern=".*\\\\.xml"/>
                <data android:pathPattern=".*\\\\.txt"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.a4455jkjh.ManifestActivity" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|orientation" android:launchMode="singleTask" android:name="com.dropbox.client2.android.AuthActivity">
            <intent-filter>
                <data android:scheme="db-fkerp7oej8u61j0"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="false" android:label="AIDE Help" android:launchMode="singleInstance" android:name="com.qidx.ui.activities.HelpViewActivity" android:screenOrientation="user" android:taskAffinity="com.qidx.ui.help" android:theme="@style/ActivityPreferencesThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:icon="@drawable/ic_app_launcher" android:label="My Android App" android:launchMode="singleInstance" android:name="com.qidx.ui.activities.AndroidTrainerActivity" android:screenOrientation="user" android:taskAffinity="com.qidx.trainer" android:theme="@style/AndroidAppTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.qidx.ui.activities.TrainerCourseActivity" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:name="com.qidx.ui.activities.GotoBrowserActivity" android:screenOrientation="user" android:theme="@style/ActivityGotoThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="Git commit" android:name="com.qidx.ui.activities.CommitActivity" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="Get access" android:name="com.qidx.ui.activities.ShopExpertPopupActivity" android:screenOrientation="user" android:theme="@style/ActivityShopPopup"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="Get access" android:name="com.qidx.ui.activities.ShopLearningPopupActivity" android:screenOrientation="user" android:theme="@style/ActivityShopPopup"/>
        <activity android:excludeFromRecents="true" android:label="@string/preference_title_legal" android:name="com.qidx.ui.preferences.AboutActivity" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight"/>
        <activity android:excludeFromRecents="true" android:label="@string/command_settings" android:name="com.qidx.ui.preferences.PreferencesActivity" android:screenOrientation="user" android:theme="@style/ActivityPreferencesThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="Design" android:name="com.qidx.ui.htmluidesigner.PhonegapDesignActivity" android:process=":Phonegap" android:screenOrientation="user" android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:launchMode="singleTop" android:name="com.qidx.ui.build.java.RunTrainerJavaActivity" android:process=":JavaTrainerConsole" android:screenOrientation="user" android:taskAffinity="com.qidx.ui.javaconsole" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|locale|orientation|screenSize" android:excludeFromRecents="true" android:label="" android:name="com.qidx.ui.build.java.RunJavaActivity" android:process=":JavaConsole" android:screenOrientation="user" android:taskAffinity="com.qidx.ui.javaconsole" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.qidx.ui.build.nativeexecutable.RunNativeExecutableActivity" android:process=":NativeExecutableConsole" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.qidx.ui.build.javascript.RunJavaScriptActivity" android:process=":JavaScriptConsole" android:screenOrientation="user" android:theme="@style/ActivityActionbarThemeLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode" android:excludeFromRecents="true" android:icon="@drawable/ic_launcher_designer" android:label="Design" android:name="com.qidx.uidesigner.XmlLayoutDesignActivity" android:process=":XmlDesigner" android:screenOrientation="user" android:theme="@style/ActivityThemeDesignerLight"/>
        <activity android:configChanges="keyboard|keyboardHidden|locale" android:excludeFromRecents="true" android:label="" android:name="com.qidx.ui.htmluidesigner.WebDesignActivity" android:process=":Webview" android:screenOrientation="user" android:theme="@style/ActivityThemeWebDesigner"/>
        <service android:exported="false" android:name="com.qidx.ui.build.packagingservice.ExternalPackagingService" android:process=":PackagingService"/>
        <service android:exported="false" android:name="com.qidx.engine.service.CodeAnalysisEngineService" android:process=":EngineService"/>
        <service android:exported="false" android:name="com.qidx.ui.scm.ExternalGitService" android:process=":GitService"/>
        <receiver android:exported="true" android:name="com.qidx.ui.debugger.ADRTReceiver">
            <intent-filter>
                <action android:name="com.adrt.LOGCAT_ENTRIES"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.adrt.CONNECT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.adrt.STOP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.adrt.BREAKPOINT_HIT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.adrt.FIELDS"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.qidx.ui.TrainerRuntimeReceiver">
            <intent-filter>
                <action android:name="com.qidx.trainer.APP_RUN"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.qidx.ui.trainer.TrainerNotificationAlarmReceiver"/>
        <receiver android:name="com.qidx.ui.PromoNotificationAlarmReceiver"/>
        <receiver android:name="com.qidx.ui.PackageUpgradedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.qidx.ui.UserPresentBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.qidx.ui.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-2926119607791157~3039278622"/>
        <provider android:authorities="com.qidx.ui.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.qidx.ui.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.qidx.ui.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
    </application>
</manifest>